{{ if eq .Hostname "DESKTOP-E07VTRN" -}}
TARGET_OS_NAME="Arch Linux"
{{- else if eq .Hostname "antoinews-linux" -}}
TARGET_OS_NAME="Omarchy"
{{- end }}

ESP_PATH="/boot"
{{ if eq .Hostname "DESKTOP-E07VTRN" }}
KERNEL_CMDLINE[default]+="cryptdevice=PARTUUID=d3583d22-8d21-4361-ad85-e204822ae5cd:root root=/dev/mapper/root zswap.enabled=0 rootflags=subvol=@ rw rootfstype=btrfs"
KERNEL_CMDLINE[default]+=" quiet splash"
{{- else if eq .Hostname "antoinews-linux" }}
KERNEL_CMDLINE[default]+="cryptdevice=PARTUUID=099b9ec3-e4c1-4965-8dd0-9e6ee2920243:root root=/dev/mapper/root zswap.enabled=0 rootflags=subvol=@ rw rootfstype=btrfs"
KERNEL_CMDLINE[default]+=" quiet splash loglevel=0 systemd.show_status=false rd.udev.log_level=0 vt.global_cursor_default=0"
{{- end }}

ENABLE_UKI=yes
{{- if eq .Hostname "DESKTOP-E07VTRN" }}
CUSTOM_UKI_NAME="arch"
{{- else if eq .Hostname "antoinews-linux" }}
CUSTOM_UKI_NAME="omarchy"
{{- end }}

ENABLE_LIMINE_FALLBACK=yes

# Find and add other bootloaders
FIND_BOOTLOADERS=yes

BOOT_ORDER="*, *fallback, Snapshots"
{{- if eq .Hostname "DESKTOP-E07VTRN" }}

MAX_SNAPSHOT_ENTRIES=2

SNAPSHOT_FORMAT_CHOICE=2

ROOT_SUBVOLUME_PATH="/@"
ROOT_SNAPSHOTS_PATH="/@/.snapshots"
LIMIT_USAGE_PERCENT=85
RESTORE_METHOD=replace
SET_SNAPSHOT_AS_DEFAULT=no
NOTIFICATION_ICON="/usr/share/icons/hicolor/128x128/apps/LimineSnapperSync.png"
COMMANDS_BEFORE_SAVE="limine-reset-enroll"
COMMANDS_AFTER_SAVE="limine-enroll-config"
{{- else if eq .Hostname "antoinews-linux" }}

MAX_SNAPSHOT_ENTRIES=5

SNAPSHOT_FORMAT_CHOICE=5
KERNEL_CMDLINE[default]+=" resume=/dev/mapper/root resume_offset=3679488"
{{- end }}
