polkit.addRule(function(action, subject) {
    if (action.id == "local.multidev.office-shares.refresh-credentials" &&
        action.lookup("user") != subject.user) {
        return polkit.Result.NO;
    }
});
