{{ if eq .Hostname "antoinews-linux" -}}
Host multidev-win
  HostName 192.168.122.53
  User a.simard@multidev.local
  IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes

Host ubuntu-server
  HostName 10.0.0.18
  User a.simard@multidev.local
  IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes

Host ubuntu-small
  HostName 10.0.0.6
  User multidev
  IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes

{{ end -}}
Host *
	AddKeysToAgent yes

{{ if or (eq .Hostname "DESKTOP-E07VTRN") (eq .Hostname "omarchbook") }}
Host antoinews-linux *.tail0b6859.ts.net
	ProxyCommand exec ncat --proxy 127.0.0.1:1080 --proxy-type socks5 --proxy-dns remote %h %p
{{ end }}

Host antoinews-linux antoinews-linux.tail0b6859.ts.net
{{ if or (eq .Hostname "DESKTOP-E07VTRN") (eq .Hostname "omarchbook") }}
	HostName antoinews-linux.tail0b6859.ts.net
	User a.simard@multidev.local
{{ end }}
	ControlMaster auto
	ControlPath ~/.ssh/cm-%C
	ControlPersist 60
