/ {
    behaviors {
        // Bluetooth behavior: tap=BT_NEXT, double-tap=BT_PREV, hold=BT_CLEAR  
        bt_hold_tap: bt_hold_tap_behavior {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&bt_clear_macro>, <&bt_tap_dance>;
        };

        // Tap dance for BT_NEXT (single tap) and BT_PREV (double tap)
        bt_tap_dance: bt_tap_dance_behavior {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_next_macro>, <&bt_prev_macro>;
        };

        // Bluetooth macros
        bt_next_macro: bt_next_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_NXT>;
        };

        bt_prev_macro: bt_prev_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_PRV>;
        };

        bt_clear_macro: bt_clear_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_CLR>;
        };
    };
};
