[Desktop Entry]
Name=Neovim URI Handler
Comment=Open files in Neovim via nvim:// URIs
Exec=/home/antoinegs/.local/bin/nvim-open %u
Type=Application
NoDisplay=true
MimeType=x-scheme-handler/nvim;
