[Desktop Entry]
Version=1.0
Type=Application
Name=MD Explorer
Comment=Explore and manage Multidev databases
Exec=env WINEPREFIX=/home/a.simard@multidev.local/.local/share/wineprefixes/mdexplorer wine MDExplorer.exe
Path=/home/a.simard@multidev.local/gits/multidev/DBExplorer
Icon=/home/a.simard@multidev.local/.local/share/applications/antoinews-linux/icons/MDExplorer.png
Terminal=false
StartupNotify=true
StartupWMClass=mdexplorer.exe
Categories=Development;Database;
Keywords=database;SQL;InterBase;MySQL;
