[user]
	name = Antoine Gaudreau Simard
  {{ if or (eq .Hostname "antoinews") (eq .Hostname "antoinews-linux") }}
	email = a.simard@multidev.net
  {{ else }}
	email = antoineg.simard@gmail.com
  {{ end }}
	signingkey = ""
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = true
	autoStash = true
[core]
  pager = delta
  packedGitLimit = 1024m
  packedGitWindowSize = 1024m
	compression = 9
	autocrlf = false
[pack]
  deltaCacheSize = 2047m
  packSizeLimit = 4095m
  windowMemory = 4095m
[include]
	path = ~/.local/share/catppuccin/delta/catppuccin.gitconfig
[delta]
	features = catppuccin-mocha
	line-numbers = true
	wrap-max-lines = unlimited
[rebase]
  updateRefs = true
