manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: AntoineGS
      url-base: https://github.com/AntoineGS
    - name: gpeye
      url-base: https://github.com/GPeye
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: zmk-pmw3610-driver
      revision: main
      path: modules/drivers/zmk-pmw3610-driver
      remote: AntoineGS
    - name: mario-peripheral-animation
      remote: gpeye
      revision: main
  self:
    path: config
