* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: bold;
  border-radius: 0 0 5px 5px;
  color: #1e2127;
  background: transparent;
  opacity: 0.96;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces {
  padding: 0 16px;
  background: #c678dd;
}

#workspaces button {
  color: #f8f8f2;
}

#workspaces button.focused {
  color: #9aedfe;
}

#workspaces button.empty {
  opacity: 0.6;
}

#workspaces button.visible {
  opacity: 1;
  box-shadow: 0 0 4px #3b4048;
}

#workspaces button:hover {
  box-shadow: 0 0 8px #3b4048;
}

#clock {
  padding: 0 16px;
  background: #e06c75;
}

#tray,
#network,
#pulseaudio,
#temperature,
#cpu,
#memory,
#disk {
  margin-left: 8px;
  min-width: 40px;
  font-size: 16px;
}

#tray {
  background: #d19a66;
  padding: 0 16px;
}

#tray .popup {
  background: #d19a66;
}

.popup .item:hover,
.popup li:hover,
.popup .menuitem:hover,
.popup button:hover,
.popup .item:active {
  box-shadow: 0 0 8px #3b4048;
}

#network {
  min-width: 38px;
  padding-left: 3px;
  padding-right: 6px;
  background: #98c379;
}

#pulseaudio {
  background: #61afef;
  padding: 0 4px;
}

#memory,
#disk,
#cpu {
  background: #56b6c2;
  font-size: 14px;
  margin: 0;
  border-radius: 0;
}

#memory {
  padding: 0 6px;
}

#disk {
  border-radius: 0 0 0 5px;
  margin-left: 8px;
  padding-left: 12px;
}

#cpu {
  padding-right: 12px;
  border-radius: 0 0 5px 0;
}

/*   font-size: 14px; */
/*   padding-left: 16px; */
/*   padding-right: 16px; */
/*   background: #abb2bf; */
/* } */

#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
  background: #56b6c2;
  font-weight: normal;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
