* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: bold;
}

window#waybar {
  color: #e4e4cd;
  background: rgba(40, 42, 54, 0.75);
  opacity: 0.96;
}

.modules-left {
  padding-left: 8px;
}

.modules-right {
  padding-right: 8px;
}

#workspaces button.empty {
  opacity: 0.6;
}

#workspaces button.visible {
  color: rgba(217, 165, 233, 1);
  opacity: 1;
  background: rgba(40, 42, 54, 75);
}

#workspaces button:hover {
  opacity: 1;
  box-shadow: 0 0 8px 8px #3b4048;
}

#tray,
#network,
#bluetooth,
#pulseaudio {
  margin-left: 6px;
  margin-right: 6px;
  font-size: 16px;
}

#bluetooth {
  opacity: 0.6;
  margin-left: 0;
}

#bluetooth.connected {
  opacity: 1;
  color: #a5d6ff;
}

#disk {
  margin-right: 0;
  margin-left: 8px;
}

#memory {
  margin-left: 8px;
  margin-right: 6px;
}

#cpu {
  margin-left: 0px;
  margin-right: 12px;
}

#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 7px;
}

#tray menu,
tooltip {
  padding: 2px;
  background: rgba(40, 42, 54, 0.9);
  font-weight: normal;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
