onboarding = false

{{ if eq .OS "windows" -}}
[terminal]
default_shell = "nu"

[ui]
host_cursor = "native"
{{ end -}}

[theme.custom]
surface_dim = "#313244"

[keys]
prefix = "ctrl+b"
help = "prefix+?"
settings = "prefix+shift+s"
detach = "prefix+d"
reload_config = "prefix+r"
open_notification_target = "prefix+shift+o"
workspace_picker = "prefix+s"
goto = "prefix+w"
new_workspace = "prefix+c"
new_worktree = "prefix+shift+g"
open_worktree = ""
remove_worktree = ""
rename_workspace = "prefix+comma"
close_workspace = ""
previous_workspace = "prefix+p"
next_workspace = "prefix+n"
previous_agent = "prefix+["
next_agent = "prefix+]"
focus_agent = ""
remote_image_paste = "ctrl+v"
new_tab = "prefix+shift+c"
rename_tab = "prefix+shift+comma"
previous_tab = "prefix+shift+p"
next_tab = "prefix+shift+n"
switch_tab = "prefix+1..9"
switch_workspace = ""
close_tab = ""
rename_pane = "prefix+<"
edit_scrollback = "prefix+e"
focus_pane_left = ""
focus_pane_down = ""
focus_pane_up = ""
focus_pane_right = ""
copy_mode = "prefix+y"
swap_pane_left = "prefix+h"
swap_pane_down = "prefix+j"
swap_pane_up = "prefix+k"
swap_pane_right = "prefix+l"
cycle_pane_next = "prefix+o"
cycle_pane_previous = ""
last_pane = "prefix+;"
split_vertical = "prefix+%"
split_horizontal = 'prefix+"'
close_pane = "prefix+x"
zoom = "prefix+z"
resize_mode = "prefix+shift+r"
toggle_sidebar = "prefix+b"
navigate_workspace_up = "k"
navigate_workspace_down = "j"
navigate_pane_left = "ctrl+h"
navigate_pane_down = "ctrl+j"
navigate_pane_up = "ctrl+k"
navigate_pane_right = "ctrl+l"

[keys.indexed]
tabs = ""
workspaces = ""
agents = ""

[[keys.command]]
key = "ctrl+h"
type = "plugin_action"
command = "vim-herdr-navigation.left"
description = "navigate left (vim/herdr)"

[[keys.command]]
key = "ctrl+j"
type = "plugin_action"
command = "vim-herdr-navigation.down"
description = "navigate down (vim/herdr)"

[[keys.command]]
key = "ctrl+k"
type = "plugin_action"
command = "vim-herdr-navigation.up"
description = "navigate up (vim/herdr)"

[[keys.command]]
key = "ctrl+l"
type = "plugin_action"
command = "vim-herdr-navigation.right"
description = "navigate right (vim/herdr)"

[[keys.command]]
key = "prefix+ctrl+p"
type = "popup"
{{ if eq .OS "windows" -}}
command = "nu"
{{ else -}}
command = "exec \"${SHELL:-sh}\""
{{ end -}}
description = "open scratch shell"
width = "90%"
height = "90%"
